<!doctype html>
<html lang="en">
  <head>
    <title>mero blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <nav id="head" class="navbar navbar-default">
       <div class="container">
           <div class="navbar-header">
               <p class="navbar-brand">Daily post</p>
               
           </div>
           <ul class="nav navbar-right ">
              <li id="home"><a href="/">HOME</a>   </li>
               <li id="about"><a href="/about">ABOUT</a></li>
               <li id="contact"><a href="/contact">CONTACT</a></li>
           </ul>
       </div>
   </nav>
</head>
<body>
 