<div class="body">
    <%- include('header'); -%>
    <div class="content">
        <h2>your post</h2>
    <h1 name="home"> <%= ptitle %> </h1>
    <p name="home"><%= pcontent %></p>
    </div>
    <%- include('footer'); -%>
    
    </div>