<div class="body">
    <%- include('header'); -%>
    <div class="content">
        <h2>your post</h2>
    <h1 name="home"> <%= pitems.title %> </h1>
    <p name="home"><%= pitems.content %></p>
    </div>
    <%- include('footer'); -%>
    
    </div>